@model BusinessObjects.Publisher
@{
	ViewData["Title"] = "Updating Publisher";
}
<h1 class="text-center pb-4">Updating Publisher</h1>
<form asp-area="Owners" asp-controller="Publisher" asp-action="Update" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="form-outline mb-4">
		<label class="form-label fw-bold">Publisher Name</label>
		<input asp-for="PublisherName" class="form-control" required />
		<span asp-validation-for="PublisherName" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label class="form-label fw-bold">Publisher Phone</label>
		<input asp-for="PublisherPhone" class="form-control" required />
		<span asp-validation-for="PublisherPhone" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label class="form-label fw-bold">Publisher Mail</label>
		<input asp-for="PublisherMail" class="form-control" required />
		<span asp-validation-for="PublisherMail" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label class="form-label fw-bold">Publisher Address</label>
		<input asp-for="PublisherAddress" class="form-control" required />
		<span asp-validation-for="PublisherAddress" class="text-danger"></span>
	</div>
	<div class="form-outline text-center">
		<input type="submit" class="btn btn-info" asp-area="Owners" asp-controller="Publisher" asp-action="Create" value="Add new" />
		<a class="btn btn-info" asp-action="Index">Cancel</a>
	</div>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}