@model BusinessObjects.Book
@{
	ViewData["Title"] = "Adding Book";
}
<h1 class="text-center pb-4">Adding Book</h1>
<form id="frmCreateBook" method="post" enctype="multipart/form-data">
	<div class="form-outline mb-4">
		<label asp-for="BookTitle" class="form-label fw-bold"></label>
		<input asp-for="BookTitle" class="form-control" required />
		<span asp-validation-for="BookTitle" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="BookDescription" class="form-label fw-bold"></label>
		<input asp-for="BookDescription" class="form-control" required />
		<span asp-validation-for="BookDescription" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="BookDetail" class="form-label fw-bold"></label>
		<textarea asp-for="BookDetail" class="form-control" required></textarea>
		<span asp-validation-for="BookDetail" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="GenreId" class="form-label fw-bold"></label>
		<select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId" required>
			<option value="">Select Genre</option>
		</select>
		<span asp-validation-for="GenreId" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="AuthorId" class="form-label fw-bold"></label>
		<select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId" required>
			<option value="">Select Author</option>
		</select>
		<span asp-validation-for="AuthorId" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="PublisherId" class="form-label fw-bold"></label>
		<select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId" required>
			<option value="">Select Publisher</option>
		</select>
		<span asp-validation-for="PublisherId" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="BookPrice" class="form-label fw-bold"></label>
		<input asp-for="BookPrice" class="form-control" required />
		<span asp-validation-for="BookPrice" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="BookOriginalPrice" class="form-label fw-bold"></label>
		<input asp-for="BookOriginalPrice" class="form-control" required />
		<span asp-validation-for="BookOriginalPrice" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="SalePercent" class="form-label fw-bold"></label>
		<input asp-for="SalePercent" class="form-control" required />
		<span asp-validation-for="SalePercent" class="text-danger"></span>
	</div>
	<div class="form-outline mb-4">
		<label asp-for="BookStock" class="form-label fw-bold"></label>
		<input asp-for="BookStock" class="form-control" required />
		<span asp-validation-for="BookStock" class="text-danger"></span>
	</div>
	<input type="hidden" asp-for="BookImage" value="BookImage" />
	<div class="form-outline mb-4">
		<label asp-for="ImageFile" class="form-label fw-bold"></label>
		<input asp-for="ImageFile" class="form-control" required />
		<span asp-validation-for="ImageFile" class="text-danger"></span>
	</div>
	<div class="form-outline text-center">
		@*<input type="submit" class="btn btn-info" value="Add new" />*@
		<input type="submit" class="btn btn-info" value="Add new" />
		<a class="btn btn-info" asp-action="Index">Cancel</a>
	</div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
	$('#frmCreateBook').submit(function (e) {
		e.preventDefault();
		var files = $('#ImageFile')[0].files;
		if (files.length > 0) {
			$.ajax({
				url: "https://localhost:7076/api/Books",
				type: "post",
				data: new FormData(this),
				processData: false,
				contentType: false,
				success: function (result, status, xhr) {
					window.location.href = '/Owners/Book';
				},
				error: function (xhr, status, error) {
					console.log(xhr);
				}
			});
		}
	});
</script>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}