@model BusinessObjects.Book
@{
	ViewData["Title"] = "Adding Book";
}
<div class="pt-3 col-lg-10 col-md-9 col-12">
	<h1 class="text-center pb-4">Adding Book</h1>
	<form asp-area="Owners" asp-controller="Book" asp-action="Create" method="post" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="form-group">
			<label asp-for="BookTitle" class="form-label font-weight-bold"></label>
			<input asp-for="BookTitle" class="form-control" required />
			<span asp-validation-for="BookTitle" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="BookDescription" class="form-label font-weight-bold"></label>
			<input asp-for="BookDescription" class="form-control" required />
			<span asp-validation-for="BookDescription" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="BookDetail" class="form-label font-weight-bold"></label>
			<input asp-for="BookDetail" class="form-control" required />
			<span asp-validation-for="BookDetail" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="GenreId" class="form-label font-weight-bold"></label>
			<select asp-for="GenreId" class="form-control" asp-items="ViewBag.GenreId" required>
				<option value="">Select Genre</option>
			</select>
		</div>
		<div class="form-group">
			<label asp-for="AuthorId" class="form-label font-weight-bold"></label>
			<select asp-for="AuthorId" class="form-control" asp-items="ViewBag.AuthorId" required>
				<option value="">Select Author</option>
			</select>
		</div>
		<div class="form-group">
			<label asp-for="PublisherId" class="form-label font-weight-bold"></label>
			<select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId" required>
				<option value="">Select Publisher</option>
			</select>
		</div>
		<div class="form-group">
			<label asp-for="BookPrice" class="form-label font-weight-bold"></label>
			<input asp-for="BookPrice" class="form-control" required />
			<span asp-validation-for="BookPrice" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="BookOriginalPrice" class="form-label font-weight-bold"></label>
			<input asp-for="BookOriginalPrice" class="form-control" required />
			<span asp-validation-for="BookOriginalPrice" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="SalePercent" class="form-label font-weight-bold"></label>
			<input asp-for="SalePercent" class="form-control" required />
			<span asp-validation-for="SalePercent" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="BookStock" class="form-label font-weight-bold"></label>
			<input asp-for="BookStock" class="form-control" required />
			<span asp-validation-for="BookStock" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label class="form-label font-weight-bold">Image</label>
			<input asp-for="ImageFile" type="file" class="form-control" required />
			<span asp-validation-for="ImageFile" class="text-danger"></span>
		</div>
		<div class="form-group text-center">
			<input type="submit" class="btn btn-info" asp-area="Owners" asp-controller="Book" asp-action="Create" value="Add new" />
			<a class="btn btn-info" asp-action="Index">Cancel</a>
		</div>
	</form>
</div>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}